/* 
Based on github-markdown-css
https://github.com/sindresorhus/github-markdown-css
*/

.v-marked {
  --base-size-4: 0.25rem;
  --base-size-8: 0.5rem;
  --base-size-16: 1rem;
  --base-size-24: 1.5rem;
  --base-size-40: 2.5rem;
  --base-text-weight-normal: 400;
  --base-text-weight-medium: 500;
  --base-text-weight-semibold: 600;
  --fontStack-monospace: ui-monospace, SFMono-Regular, SF Mono, Menlo, Consolas,
    Liberation Mono, monospace;
  --fgColor-accent: Highlight;
}

.v-marked,
.v-marked[data-theme="light"] {
  /* light */
  color-scheme: light;
  --focus-outlineColor: #0969da;
  --fgColor-default: #1f2328;
  --fgColor-muted: #59636e;
  --fgColor-accent: #0969da;
  --fgColor-success: #1a7f37;
  --fgColor-attention: #9a6700;
  --fgColor-danger: #d1242f;
  --fgColor-done: #8250df;
  --bgColor-default: #ffffff;
  --bgColor-muted: #f6f8fa;
  --bgColor-neutral-muted: #818b981f;
  --bgColor-attention-muted: #fff8c5;
  --borderColor-default: #d1d9e0;
  --borderColor-muted: #d1d9e0b3;
  --borderColor-neutral-muted: #d1d9e0b3;
  --borderColor-accent-emphasis: #0969da;
  --borderColor-success-emphasis: #1a7f37;
  --borderColor-attention-emphasis: #9a6700;
  --borderColor-danger-emphasis: #cf222e;
  --borderColor-done-emphasis: #8250df;
  --color-prettylights-syntax-comment: #59636e;
  --color-prettylights-syntax-constant: #0550ae;
  --color-prettylights-syntax-constant-other-reference-link: #0a3069;
  --color-prettylights-syntax-entity: #6639ba;
  --color-prettylights-syntax-storage-modifier-import: #1f2328;
  --color-prettylights-syntax-entity-tag: #0550ae;
  --color-prettylights-syntax-keyword: #cf222e;
  --color-prettylights-syntax-string: #0a3069;
  --color-prettylights-syntax-variable: #953800;
  --color-prettylights-syntax-brackethighlighter-unmatched: #82071e;
  --color-prettylights-syntax-brackethighlighter-angle: #59636e;
  --color-prettylights-syntax-invalid-illegal-text: #f6f8fa;
  --color-prettylights-syntax-invalid-illegal-bg: #82071e;
  --color-prettylights-syntax-carriage-return-text: #f6f8fa;
  --color-prettylights-syntax-carriage-return-bg: #cf222e;
  --color-prettylights-syntax-string-regexp: #116329;
  --color-prettylights-syntax-markup-list: #3b2300;
  --color-prettylights-syntax-markup-heading: #0550ae;
  --color-prettylights-syntax-markup-italic: #1f2328;
  --color-prettylights-syntax-markup-bold: #1f2328;
  --color-prettylights-syntax-markup-deleted-text: #82071e;
  --color-prettylights-syntax-markup-deleted-bg: #ffebe9;
  --color-prettylights-syntax-markup-inserted-text: #116329;
  --color-prettylights-syntax-markup-inserted-bg: #dafbe1;
  --color-prettylights-syntax-markup-changed-text: #953800;
  --color-prettylights-syntax-markup-changed-bg: #ffd8b5;
  --color-prettylights-syntax-markup-ignored-text: #d1d9e0;
  --color-prettylights-syntax-markup-ignored-bg: #0550ae;
  --color-prettylights-syntax-meta-diff-range: #8250df;
  --color-prettylights-syntax-sublimelinter-gutter-mark: #818b98;
}

.v-marked[data-theme="dark"] {
  /* dark */
  color-scheme: dark;
  --focus-outlineColor: #1f6feb;
  --fgColor-default: #f0f6fc;
  --fgColor-muted: #9198a1;
  --fgColor-accent: #4493f8;
  --fgColor-success: #3fb950;
  --fgColor-attention: #d29922;
  --fgColor-danger: #f85149;
  --fgColor-done: #ab7df8;
  --bgColor-default: #0d1117;
  --bgColor-muted: #151b23;
  --bgColor-neutral-muted: #656c7633;
  --bgColor-attention-muted: #bb800926;
  --borderColor-default: #3d444d;
  --borderColor-muted: #3d444db3;
  --borderColor-neutral-muted: #3d444db3;
  --borderColor-accent-emphasis: #1f6feb;
  --borderColor-success-emphasis: #238636;
  --borderColor-attention-emphasis: #9e6a03;
  --borderColor-danger-emphasis: #da3633;
  --borderColor-done-emphasis: #8957e5;
  --color-prettylights-syntax-comment: #9198a1;
  --color-prettylights-syntax-constant: #79c0ff;
  --color-prettylights-syntax-constant-other-reference-link: #a5d6ff;
  --color-prettylights-syntax-entity: #d2a8ff;
  --color-prettylights-syntax-storage-modifier-import: #f0f6fc;
  --color-prettylights-syntax-entity-tag: #7ee787;
  --color-prettylights-syntax-keyword: #ff7b72;
  --color-prettylights-syntax-string: #a5d6ff;
  --color-prettylights-syntax-variable: #ffa657;
  --color-prettylights-syntax-brackethighlighter-unmatched: #f85149;
  --color-prettylights-syntax-brackethighlighter-angle: #9198a1;
  --color-prettylights-syntax-invalid-illegal-text: #f0f6fc;
  --color-prettylights-syntax-invalid-illegal-bg: #8e1519;
  --color-prettylights-syntax-carriage-return-text: #f0f6fc;
  --color-prettylights-syntax-carriage-return-bg: #b62324;
  --color-prettylights-syntax-string-regexp: #7ee787;
  --color-prettylights-syntax-markup-list: #f2cc60;
  --color-prettylights-syntax-markup-heading: #1f6feb;
  --color-prettylights-syntax-markup-italic: #f0f6fc;
  --color-prettylights-syntax-markup-bold: #f0f6fc;
  --color-prettylights-syntax-markup-deleted-text: #ffdcd7;
  --color-prettylights-syntax-markup-deleted-bg: #67060c;
  --color-prettylights-syntax-markup-inserted-text: #aff5b4;
  --color-prettylights-syntax-markup-inserted-bg: #033a16;
  --color-prettylights-syntax-markup-changed-text: #ffdfb6;
  --color-prettylights-syntax-markup-changed-bg: #5a1e02;
  --color-prettylights-syntax-markup-ignored-text: #f0f6fc;
  --color-prettylights-syntax-markup-ignored-bg: #1158c7;
  --color-prettylights-syntax-meta-diff-range: #d2a8ff;
  --color-prettylights-syntax-sublimelinter-gutter-mark: #3d444d;
}

.v-marked {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  margin: 0;
  color: var(--fgColor-default);
  background-color: var(--bgColor-default);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Noto Sans",
    Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  font-size: 16px;
  line-height: 1.5;
  word-wrap: break-word;
}

.v-marked .octicon {
  display: inline-block;
  fill: currentColor;
  vertical-align: text-bottom;
}

.v-marked h1:hover .anchor .octicon-link:before,
.v-marked h2:hover .anchor .octicon-link:before,
.v-marked h3:hover .anchor .octicon-link:before,
.v-marked h4:hover .anchor .octicon-link:before,
.v-marked h5:hover .anchor .octicon-link:before,
.v-marked h6:hover .anchor .octicon-link:before {
  width: 16px;
  height: 16px;
  content: " ";
  display: inline-block;
  background-color: currentColor;
  -webkit-mask-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' version='1.1' aria-hidden='true'><path fill-rule='evenodd' d='M7.775 3.275a.75.75 0 001.06 1.06l1.25-1.25a2 2 0 112.83 2.83l-2.5 2.5a2 2 0 01-2.83 0 .75.75 0 00-1.06 1.06 3.5 3.5 0 004.95 0l2.5-2.5a3.5 3.5 0 00-4.95-4.95l-1.25 1.25zm-4.69 9.64a2 2 0 010-2.83l2.5-2.5a2 2 0 012.83 0 .75.75 0 001.06-1.06 3.5 3.5 0 00-4.95 0l-2.5 2.5a3.5 3.5 0 004.95 4.95l1.25-1.25a.75.75 0 00-1.06-1.06l-1.25 1.25a2 2 0 01-2.83 0z'></path></svg>");
  mask-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' version='1.1' aria-hidden='true'><path fill-rule='evenodd' d='M7.775 3.275a.75.75 0 001.06 1.06l1.25-1.25a2 2 0 112.83 2.83l-2.5 2.5a2 2 0 01-2.83 0 .75.75 0 00-1.06 1.06 3.5 3.5 0 004.95 0l2.5-2.5a3.5 3.5 0 00-4.95-4.95l-1.25 1.25zm-4.69 9.64a2 2 0 010-2.83l2.5-2.5a2 2 0 012.83 0 .75.75 0 001.06-1.06 3.5 3.5 0 00-4.95 0l-2.5 2.5a3.5 3.5 0 004.95 4.95l1.25-1.25a.75.75 0 00-1.06-1.06l-1.25 1.25a2 2 0 01-2.83 0z'></path></svg>");
}

.v-marked details,
.v-marked figcaption,
.v-marked figure {
  display: block;
}

.v-marked summary {
  display: list-item;
}

.v-marked [hidden] {
  display: none !important;
}

.v-marked a {
  background-color: transparent;
  color: var(--fgColor-accent);
  text-decoration: none;
}

.v-marked abbr[title] {
  border-bottom: none;
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted;
}

.v-marked b,
.v-marked strong {
  font-weight: var(--base-text-weight-semibold, 600);
}

.v-marked dfn {
  font-style: italic;
}

.v-marked h1 {
  margin: 0.67em 0;
  font-weight: var(--base-text-weight-semibold, 600);
  padding-bottom: 0.3em;
  font-size: 2em;
  border-bottom: 1px solid var(--borderColor-muted);
}

.v-marked mark {
  background-color: var(--bgColor-attention-muted);
  color: var(--fgColor-default);
}

.v-marked small {
  font-size: 90%;
}

.v-marked sub,
.v-marked sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

.v-marked sub {
  bottom: -0.25em;
}

.v-marked sup {
  top: -0.5em;
}

.v-marked img {
  border-style: none;
  max-width: 100%;
  box-sizing: content-box;
}

.v-marked code,
.v-marked kbd,
.v-marked pre,
.v-marked samp {
  font-family: monospace;
  font-size: 1em;
}

.v-marked figure {
  margin: 1em var(--base-size-40);
}

.v-marked hr {
  box-sizing: content-box;
  overflow: hidden;
  background: transparent;
  border-bottom: 1px solid var(--borderColor-muted);
  height: 0.25em;
  padding: 0;
  margin: var(--base-size-24) 0;
  background-color: var(--borderColor-default);
  border: 0;
}

.v-marked input {
  font: inherit;
  margin: 0;
  overflow: visible;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

.v-marked [type="button"],
.v-marked [type="reset"],
.v-marked [type="submit"] {
  -webkit-appearance: button;
  appearance: button;
}

.v-marked [type="checkbox"],
.v-marked [type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

.v-marked [type="number"]::-webkit-inner-spin-button,
.v-marked [type="number"]::-webkit-outer-spin-button {
  height: auto;
}

.v-marked [type="search"]::-webkit-search-cancel-button,
.v-marked [type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
  appearance: none;
}

.v-marked ::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.54;
}

.v-marked ::-webkit-file-upload-button {
  -webkit-appearance: button;
  appearance: button;
  font: inherit;
}

.v-marked a:hover {
  text-decoration: underline;
}

.v-marked ::placeholder {
  color: var(--fgColor-muted);
  opacity: 1;
}

.v-marked hr::before {
  display: table;
  content: "";
}

.v-marked hr::after {
  display: table;
  clear: both;
  content: "";
}

.v-marked table {
  border-spacing: 0;
  border-collapse: collapse;
  display: block;
  width: max-content;
  max-width: 100%;
  overflow: auto;
  font-variant: tabular-nums;
}

.v-marked td,
.v-marked th {
  padding: 0;
}

.v-marked details summary {
  cursor: pointer;
}

.v-marked a:focus,
.v-marked [role="button"]:focus,
.v-marked input[type="radio"]:focus,
.v-marked input[type="checkbox"]:focus {
  outline: 2px solid var(--focus-outlineColor);
  outline-offset: -2px;
  box-shadow: none;
}

.v-marked a:focus:not(:focus-visible),
.v-marked [role="button"]:focus:not(:focus-visible),
.v-marked input[type="radio"]:focus:not(:focus-visible),
.v-marked input[type="checkbox"]:focus:not(:focus-visible) {
  outline: solid 1px transparent;
}

.v-marked a:focus-visible,
.v-marked [role="button"]:focus-visible,
.v-marked input[type="radio"]:focus-visible,
.v-marked input[type="checkbox"]:focus-visible {
  outline: 2px solid var(--focus-outlineColor);
  outline-offset: -2px;
  box-shadow: none;
}

.v-marked a:not([class]):focus,
.v-marked a:not([class]):focus-visible,
.v-marked input[type="radio"]:focus,
.v-marked input[type="radio"]:focus-visible,
.v-marked input[type="checkbox"]:focus,
.v-marked input[type="checkbox"]:focus-visible {
  outline-offset: 0;
}

.v-marked kbd {
  display: inline-block;
  padding: var(--base-size-4);
  font: 11px
    var(
      --fontStack-monospace,
      ui-monospace,
      SFMono-Regular,
      SF Mono,
      Menlo,
      Consolas,
      Liberation Mono,
      monospace
    );
  line-height: 10px;
  color: var(--fgColor-default);
  vertical-align: middle;
  background-color: var(--bgColor-muted);
  border: solid 1px var(--borderColor-neutral-muted);
  border-bottom-color: var(--borderColor-neutral-muted);
  border-radius: 6px;
  box-shadow: inset 0 -1px 0 var(--borderColor-neutral-muted);
}

.v-marked h1,
.v-marked h2,
.v-marked h3,
.v-marked h4,
.v-marked h5,
.v-marked h6 {
  margin-top: var(--base-size-24);
  margin-bottom: var(--base-size-16);
  font-weight: var(--base-text-weight-semibold, 600);
  line-height: 1.25;
}

.v-marked h2 {
  font-weight: var(--base-text-weight-semibold, 600);
  padding-bottom: 0.3em;
  font-size: 1.5em;
  border-bottom: 1px solid var(--borderColor-muted);
}

.v-marked h3 {
  font-weight: var(--base-text-weight-semibold, 600);
  font-size: 1.25em;
}

.v-marked h4 {
  font-weight: var(--base-text-weight-semibold, 600);
  font-size: 1em;
}

.v-marked h5 {
  font-weight: var(--base-text-weight-semibold, 600);
  font-size: 0.875em;
}

.v-marked h6 {
  font-weight: var(--base-text-weight-semibold, 600);
  font-size: 0.85em;
  color: var(--fgColor-muted);
}

.v-marked p {
  margin-top: 0;
  margin-bottom: 10px;
}

.v-marked blockquote {
  margin: 0;
  padding: 0 1em;
  color: var(--fgColor-muted);
  border-left: 0.25em solid var(--borderColor-default);
}

.v-marked ul,
.v-marked ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 2em;
}

.v-marked ol ol,
.v-marked ul ol {
  list-style-type: lower-roman;
}

.v-marked ul ul ol,
.v-marked ul ol ol,
.v-marked ol ul ol,
.v-marked ol ol ol {
  list-style-type: lower-alpha;
}

.v-marked dd {
  margin-left: 0;
}

.v-marked tt,
.v-marked code,
.v-marked samp {
  font-family: var(
    --fontStack-monospace,
    ui-monospace,
    SFMono-Regular,
    SF Mono,
    Menlo,
    Consolas,
    Liberation Mono,
    monospace
  );
  font-size: 12px;
}

.v-marked pre {
  margin-top: 0;
  margin-bottom: 0;
  font-family: var(
    --fontStack-monospace,
    ui-monospace,
    SFMono-Regular,
    SF Mono,
    Menlo,
    Consolas,
    Liberation Mono,
    monospace
  );
  font-size: 12px;
  word-wrap: normal;
}

.v-marked .octicon {
  display: inline-block;
  overflow: visible !important;
  vertical-align: text-bottom;
  fill: currentColor;
}

.v-marked input::-webkit-outer-spin-button,
.v-marked input::-webkit-inner-spin-button {
  margin: 0;
  appearance: none;
}

.v-marked .mr-2 {
  margin-right: var(--base-size-8, 8px) !important;
}

.v-marked::before {
  display: table;
  content: "";
}

.v-marked::after {
  display: table;
  clear: both;
  content: "";
}

.v-marked > *:first-child {
  margin-top: 0 !important;
}

.v-marked > *:last-child {
  margin-bottom: 0 !important;
}

.v-marked a:not([href]) {
  color: inherit;
  text-decoration: none;
}

.v-marked .absent {
  color: var(--fgColor-danger);
}

.v-marked .anchor {
  float: left;
  padding-right: var(--base-size-4);
  margin-left: -20px;
  line-height: 1;
}

.v-marked .anchor:focus {
  outline: none;
}

.v-marked p,
.v-marked blockquote,
.v-marked ul,
.v-marked ol,
.v-marked dl,
.v-marked table,
.v-marked pre,
.v-marked details {
  margin-top: 0;
  margin-bottom: var(--base-size-16);
}

.v-marked blockquote > :first-child {
  margin-top: 0;
}

.v-marked blockquote > :last-child {
  margin-bottom: 0;
}

.v-marked h1 .octicon-link,
.v-marked h2 .octicon-link,
.v-marked h3 .octicon-link,
.v-marked h4 .octicon-link,
.v-marked h5 .octicon-link,
.v-marked h6 .octicon-link {
  color: var(--fgColor-default);
  vertical-align: middle;
  visibility: hidden;
}

.v-marked h1:hover .anchor,
.v-marked h2:hover .anchor,
.v-marked h3:hover .anchor,
.v-marked h4:hover .anchor,
.v-marked h5:hover .anchor,
.v-marked h6:hover .anchor {
  text-decoration: none;
}

.v-marked h1:hover .anchor .octicon-link,
.v-marked h2:hover .anchor .octicon-link,
.v-marked h3:hover .anchor .octicon-link,
.v-marked h4:hover .anchor .octicon-link,
.v-marked h5:hover .anchor .octicon-link,
.v-marked h6:hover .anchor .octicon-link {
  visibility: visible;
}

.v-marked h1 tt,
.v-marked h1 code,
.v-marked h2 tt,
.v-marked h2 code,
.v-marked h3 tt,
.v-marked h3 code,
.v-marked h4 tt,
.v-marked h4 code,
.v-marked h5 tt,
.v-marked h5 code,
.v-marked h6 tt,
.v-marked h6 code {
  padding: 0 0.2em;
  font-size: inherit;
}

.v-marked summary h1,
.v-marked summary h2,
.v-marked summary h3,
.v-marked summary h4,
.v-marked summary h5,
.v-marked summary h6 {
  display: inline-block;
}

.v-marked summary h1 .anchor,
.v-marked summary h2 .anchor,
.v-marked summary h3 .anchor,
.v-marked summary h4 .anchor,
.v-marked summary h5 .anchor,
.v-marked summary h6 .anchor {
  margin-left: -40px;
}

.v-marked summary h1,
.v-marked summary h2 {
  padding-bottom: 0;
  border-bottom: 0;
}

.v-marked ul.no-list,
.v-marked ol.no-list {
  padding: 0;
  list-style-type: none;
}

.v-marked ol[type="a s"] {
  list-style-type: lower-alpha;
}

.v-marked ol[type="A s"] {
  list-style-type: upper-alpha;
}

.v-marked ol[type="i s"] {
  list-style-type: lower-roman;
}

.v-marked ol[type="I s"] {
  list-style-type: upper-roman;
}

.v-marked ol[type="1"] {
  list-style-type: decimal;
}

.v-marked div > ol:not([type]) {
  list-style-type: decimal;
}

.v-marked ul ul,
.v-marked ul ol,
.v-marked ol ol,
.v-marked ol ul {
  margin-top: 0;
  margin-bottom: 0;
}

.v-marked li > p {
  margin-top: var(--base-size-16);
}

.v-marked li + li {
  margin-top: 0.25em;
}

.v-marked dl {
  padding: 0;
}

.v-marked dl dt {
  padding: 0;
  margin-top: var(--base-size-16);
  font-size: 1em;
  font-style: italic;
  font-weight: var(--base-text-weight-semibold, 600);
}

.v-marked dl dd {
  padding: 0 var(--base-size-16);
  margin-bottom: var(--base-size-16);
}

.v-marked table th {
  font-weight: var(--base-text-weight-semibold, 600);
}

.v-marked table th,
.v-marked table td {
  padding: 6px 13px;
  border: 1px solid var(--borderColor-default);
}

.v-marked table td > :last-child {
  margin-bottom: 0;
}

.v-marked table tr {
  background-color: var(--bgColor-default);
  border-top: 1px solid var(--borderColor-muted);
}

.v-marked table tr:nth-child(2n) {
  background-color: var(--bgColor-muted);
}

.v-marked table img {
  background-color: transparent;
}

.v-marked img[align="right"] {
  padding-left: 20px;
}

.v-marked img[align="left"] {
  padding-right: 20px;
}

.v-marked .emoji {
  max-width: none;
  vertical-align: text-top;
  background-color: transparent;
}

.v-marked span.frame {
  display: block;
  overflow: hidden;
}

.v-marked span.frame > span {
  display: block;
  float: left;
  width: auto;
  padding: 7px;
  margin: 13px 0 0;
  overflow: hidden;
  border: 1px solid var(--borderColor-default);
}

.v-marked span.frame span img {
  display: block;
  float: left;
}

.v-marked span.frame span span {
  display: block;
  padding: 5px 0 0;
  clear: both;
  color: var(--fgColor-default);
}

.v-marked span.align-center {
  display: block;
  overflow: hidden;
  clear: both;
}

.v-marked span.align-center > span {
  display: block;
  margin: 13px auto 0;
  overflow: hidden;
  text-align: center;
}

.v-marked span.align-center span img {
  margin: 0 auto;
  text-align: center;
}

.v-marked span.align-right {
  display: block;
  overflow: hidden;
  clear: both;
}

.v-marked span.align-right > span {
  display: block;
  margin: 13px 0 0;
  overflow: hidden;
  text-align: right;
}

.v-marked span.align-right span img {
  margin: 0;
  text-align: right;
}

.v-marked span.float-left {
  display: block;
  float: left;
  margin-right: 13px;
  overflow: hidden;
}

.v-marked span.float-left span {
  margin: 13px 0 0;
}

.v-marked span.float-right {
  display: block;
  float: right;
  margin-left: 13px;
  overflow: hidden;
}

.v-marked span.float-right > span {
  display: block;
  margin: 13px auto 0;
  overflow: hidden;
  text-align: right;
}

.v-marked code,
.v-marked tt {
  padding: 0.2em 0.4em;
  margin: 0;
  font-size: 85%;
  white-space: break-spaces;
  background-color: var(--bgColor-neutral-muted);
  border-radius: 6px;
}

.v-marked code br,
.v-marked tt br {
  display: none;
}

.v-marked del code {
  text-decoration: inherit;
}

.v-marked samp {
  font-size: 85%;
}

.v-marked pre code {
  font-size: 100%;
}

.v-marked pre > code {
  padding: 0;
  margin: 0;
  word-break: normal;
  white-space: pre;
  background: transparent;
  border: 0;
}

.v-marked .highlight {
  margin-bottom: var(--base-size-16);
}

.v-marked .highlight pre {
  margin-bottom: 0;
  word-break: normal;
}

.v-marked .highlight pre,
.v-marked pre {
  padding: var(--base-size-16);
  overflow: auto;
  font-size: 85%;
  line-height: 1.45;
  color: var(--fgColor-default);
  background-color: var(--bgColor-muted);
  border-radius: 6px;
}

.v-marked pre code,
.v-marked pre tt {
  display: inline;
  max-width: auto;
  padding: 0;
  margin: 0;
  overflow: visible;
  line-height: inherit;
  word-wrap: normal;
  background-color: transparent;
  border: 0;
}

.v-marked .csv-data td,
.v-marked .csv-data th {
  padding: 5px;
  overflow: hidden;
  font-size: 12px;
  line-height: 1;
  text-align: left;
  white-space: nowrap;
}

.v-marked .csv-data .blob-num {
  padding: 10px var(--base-size-8) 9px;
  text-align: right;
  background: var(--bgColor-default);
  border: 0;
}

.v-marked .csv-data tr {
  border-top: 0;
}

.v-marked .csv-data th {
  font-weight: var(--base-text-weight-semibold, 600);
  background: var(--bgColor-muted);
  border-top: 0;
}

.v-marked [data-footnote-ref]::before {
  content: "[";
}

.v-marked [data-footnote-ref]::after {
  content: "]";
}

.v-marked .footnotes {
  font-size: 12px;
  color: var(--fgColor-muted);
  border-top: 1px solid var(--borderColor-default);
}

.v-marked .footnotes ol {
  padding-left: var(--base-size-16);
}

.v-marked .footnotes ol ul {
  display: inline-block;
  padding-left: var(--base-size-16);
  margin-top: var(--base-size-16);
}

.v-marked .footnotes li {
  position: relative;
}

.v-marked .footnotes li:target::before {
  position: absolute;
  top: calc(var(--base-size-8) * -1);
  right: calc(var(--base-size-8) * -1);
  bottom: calc(var(--base-size-8) * -1);
  left: calc(var(--base-size-24) * -1);
  pointer-events: none;
  content: "";
  border: 2px solid var(--borderColor-accent-emphasis);
  border-radius: 6px;
}

.v-marked .footnotes li:target {
  color: var(--fgColor-default);
}

.v-marked .footnotes .data-footnote-backref g-emoji {
  font-family: monospace;
}

.v-marked body:has(:modal) {
  padding-right: var(--dialog-scrollgutter) !important;
}

.v-marked .pl-c {
  color: var(--color-prettylights-syntax-comment);
}

.v-marked .pl-c1,
.v-marked .pl-s .pl-v {
  color: var(--color-prettylights-syntax-constant);
}

.v-marked .pl-e,
.v-marked .pl-en {
  color: var(--color-prettylights-syntax-entity);
}

.v-marked .pl-smi,
.v-marked .pl-s .pl-s1 {
  color: var(--color-prettylights-syntax-storage-modifier-import);
}

.v-marked .pl-ent {
  color: var(--color-prettylights-syntax-entity-tag);
}

.v-marked .pl-k {
  color: var(--color-prettylights-syntax-keyword);
}

.v-marked .pl-s,
.v-marked .pl-pds,
.v-marked .pl-s .pl-pse .pl-s1,
.v-marked .pl-sr,
.v-marked .pl-sr .pl-cce,
.v-marked .pl-sr .pl-sre,
.v-marked .pl-sr .pl-sra {
  color: var(--color-prettylights-syntax-string);
}

.v-marked .pl-v,
.v-marked .pl-smw {
  color: var(--color-prettylights-syntax-variable);
}

.v-marked .pl-bu {
  color: var(--color-prettylights-syntax-brackethighlighter-unmatched);
}

.v-marked .pl-ii {
  color: var(--color-prettylights-syntax-invalid-illegal-text);
  background-color: var(--color-prettylights-syntax-invalid-illegal-bg);
}

.v-marked .pl-c2 {
  color: var(--color-prettylights-syntax-carriage-return-text);
  background-color: var(--color-prettylights-syntax-carriage-return-bg);
}

.v-marked .pl-sr .pl-cce {
  font-weight: bold;
  color: var(--color-prettylights-syntax-string-regexp);
}

.v-marked .pl-ml {
  color: var(--color-prettylights-syntax-markup-list);
}

.v-marked .pl-mh,
.v-marked .pl-mh .pl-en,
.v-marked .pl-ms {
  font-weight: bold;
  color: var(--color-prettylights-syntax-markup-heading);
}

.v-marked .pl-mi {
  font-style: italic;
  color: var(--color-prettylights-syntax-markup-italic);
}

.v-marked .pl-mb {
  font-weight: bold;
  color: var(--color-prettylights-syntax-markup-bold);
}

.v-marked .pl-md {
  color: var(--color-prettylights-syntax-markup-deleted-text);
  background-color: var(--color-prettylights-syntax-markup-deleted-bg);
}

.v-marked .pl-mi1 {
  color: var(--color-prettylights-syntax-markup-inserted-text);
  background-color: var(--color-prettylights-syntax-markup-inserted-bg);
}

.v-marked .pl-mc {
  color: var(--color-prettylights-syntax-markup-changed-text);
  background-color: var(--color-prettylights-syntax-markup-changed-bg);
}

.v-marked .pl-mi2 {
  color: var(--color-prettylights-syntax-markup-ignored-text);
  background-color: var(--color-prettylights-syntax-markup-ignored-bg);
}

.v-marked .pl-mdr {
  font-weight: bold;
  color: var(--color-prettylights-syntax-meta-diff-range);
}

.v-marked .pl-ba {
  color: var(--color-prettylights-syntax-brackethighlighter-angle);
}

.v-marked .pl-sg {
  color: var(--color-prettylights-syntax-sublimelinter-gutter-mark);
}

.v-marked .pl-corl {
  text-decoration: underline;
  color: var(--color-prettylights-syntax-constant-other-reference-link);
}

.v-marked [role="button"]:focus:not(:focus-visible),
.v-marked [role="tabpanel"][tabindex="0"]:focus:not(:focus-visible),
.v-marked button:focus:not(:focus-visible),
.v-marked summary:focus:not(:focus-visible),
.v-marked a:focus:not(:focus-visible) {
  outline: none;
  box-shadow: none;
}

.v-marked [tabindex="0"]:focus:not(:focus-visible),
.v-marked details-dialog:focus:not(:focus-visible) {
  outline: none;
}

.v-marked g-emoji {
  display: inline-block;
  min-width: 1ch;
  font-family: "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 1em;
  font-style: normal !important;
  font-weight: var(--base-text-weight-normal, 400);
  line-height: 1;
  vertical-align: -0.075em;
}

.v-marked g-emoji img {
  width: 1em;
  height: 1em;
}

.v-marked .task-list-item {
  list-style-type: none;
}

.v-marked .task-list-item label {
  font-weight: var(--base-text-weight-normal, 400);
}

.v-marked .task-list-item.enabled label {
  cursor: pointer;
}

.v-marked .task-list-item + .task-list-item {
  margin-top: var(--base-size-4);
}

.v-marked .task-list-item .handle {
  display: none;
}

.v-marked .task-list-item-checkbox {
  margin: 0 0.2em 0.25em -1.4em;
  vertical-align: middle;
}

.v-marked ul:dir(rtl) .task-list-item-checkbox {
  margin: 0 -1.6em 0.25em 0.2em;
}

.v-marked ol:dir(rtl) .task-list-item-checkbox {
  margin: 0 -1.6em 0.25em 0.2em;
}

.v-marked .contains-task-list:hover .task-list-item-convert-container,
.v-marked .contains-task-list:focus-within .task-list-item-convert-container {
  display: block;
  width: auto;
  height: 24px;
  overflow: visible;
  clip: auto;
}

.v-marked ::-webkit-calendar-picker-indicator {
  filter: invert(50%);
}

.v-marked .markdown-alert {
  padding: var(--base-size-8) var(--base-size-16);
  margin-bottom: var(--base-size-16);
  color: inherit;
  border-left: 0.25em solid var(--borderColor-default);
}

.v-marked .markdown-alert > :first-child {
  margin-top: 0;
}

.v-marked .markdown-alert > :last-child {
  margin-bottom: 0;
}

.v-marked .markdown-alert .markdown-alert-title {
  display: flex;
  font-weight: var(--base-text-weight-medium, 500);
  align-items: center;
  line-height: 1;
}

.v-marked .markdown-alert.markdown-alert-note {
  border-left-color: var(--borderColor-accent-emphasis);
}

.v-marked .markdown-alert.markdown-alert-note .markdown-alert-title {
  color: var(--fgColor-accent);
}

.v-marked .markdown-alert.markdown-alert-important {
  border-left-color: var(--borderColor-done-emphasis);
}

.v-marked .markdown-alert.markdown-alert-important .markdown-alert-title {
  color: var(--fgColor-done);
}

.v-marked .markdown-alert.markdown-alert-warning {
  border-left-color: var(--borderColor-attention-emphasis);
}

.v-marked .markdown-alert.markdown-alert-warning .markdown-alert-title {
  color: var(--fgColor-attention);
}

.v-marked .markdown-alert.markdown-alert-tip {
  border-left-color: var(--borderColor-success-emphasis);
}

.v-marked .markdown-alert.markdown-alert-tip .markdown-alert-title {
  color: var(--fgColor-success);
}

.v-marked .markdown-alert.markdown-alert-caution {
  border-left-color: var(--borderColor-danger-emphasis);
}

.v-marked .markdown-alert.markdown-alert-caution .markdown-alert-title {
  color: var(--fgColor-danger);
}

.v-marked > *:first-child > .heading-element:first-child {
  margin-top: 0 !important;
}

.v-marked .highlight pre:has(+ .zeroclipboard-container) {
  min-height: 52px;
}
